
.keyboard {
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.keyboardGridFirstLine {
  display: grid;
  grid-template-columns: repeat(9, 60px);
  grid-gap: 8px;
}

.keyboardGridSecondLine {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(9, 60px);
  grid-gap: 8px;
}

.keyboardGridThirdLine {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-gap: 8px;
  justify-content: center;
}


app-keyboard-letter {
  height: 60px;
  border-radius: 0px;
}



